* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    /* line-height: 1.75; */
}
.btn {
    display: inline-block;
    min-width: 118px;
    color: #fff;
    text-align: center;
    font-weight: 600;
}
.line-clamp {
    display: -webkit-box;
    line-clamp: var(--line-clamp, 1);
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2 {
    --line-clamp: 2;
}
.break-all {
    word-break: break-all;
}

/* header */
.header {
    background: #fffcf4;
}
.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.header .nav {
    margin-left: auto;
}
.header .nav ul {
    display: flex;
}
.header .nav ul li a {
    color: #5f5b53;
    padding: 21px;
    position: relative;
}
.header .nav li a:hover,
.header .nav .active a {
    color: #171100;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
}
.header .nav .active a::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    position: absolute;
    bottom: 21px;
    left: 21px;
}
.action .btn.sign-up {
    padding: 11px 41px;
    border-radius: 24.5px;
    background: #171100;
}
.header .action {
    margin-left: 49px;
}
/* hero */
.hero {
    padding: 57px 0 65px 0;
    background: #fffcf4;
}
.hero .body {
    display: flex;
}
.hero .media-block {
    width: 48%;
    position: relative;
}
.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-summary {
    position: absolute;
    width: 270px;
    height: 244px;
    right: 0;
    bottom: 48px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    padding: 28px 0 28px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero-summary .items {
    display: flex;
    align-items: center;
}
.hero-summary .items .icon {
    padding: 12px;
    border-radius: 50%;
    margin-right: 16px;
}

.hero-summary .items:first-child .icon {
    background-color: #fff9e8;
}
.hero-summary .items:nth-child(2) .icon {
    background-color: #fcefff;
}
.hero-summary .items:last-child .icon {
    background-color: #ebeaff;
}
.hero-summary .items .info .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
}
.hero-summary .items .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.hero .content-block {
    width: 52%;
    padding: 64px 0 63px 130px;
}
.hero .content-block .heading {
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
    margin-bottom: 22px;
}
.hero .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}
.hero-btn {
    padding: 17px 33px;
    border-radius: 32px;
    background: #ffb900;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.hero .content-block .cta-group .watch {
    display: flex;
    align-items: center;
    margin: 38px 0 48px 0;
}
.hero .content-block .cta-group .Watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background-color: #fffcf4;
}
.hero .content-block .cta-group .Watch-video .icon {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
    cursor: pointer;
}

.hero .content-block .cta-group .Watch-video {
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67;
    cursor: pointer;
}

.hero .sub-desc {
    display: flex;
    gap: 28px;
    margin-top: 8px;
}
.hero .desc.stats strong {
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.22;
    padding-right: 8px;
}
/* popular */
.popular {
    padding: 200px 0;
}
.popular-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}
.popular-header .content {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}
.popular-header .desc {
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-top: 16px;
}
.popular-header .ico {
    display: flex;
    gap: 17px;
}
.popular-header .ico button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #ffb900;
    background: transparent;
    color: #ffb900;
}
.popular-header .ico button:hover {
    background-color: #ffb900;
    color: #fff;
}
.popular .block {
    display: flex;
    justify-content: space-between;
}
.block-items {
    width: 31.7%;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}
.block-items .block-img {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}
.block-items:hover {
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    border-color: transparent;
}
.popular .block-items .content {
    padding: 10px 22px 22px;
}
.popular .block-items .header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block-items .header-block a:first-child {
    display: inline;
    padding: 20px 0;
    color: #171100;
}
.popular .block-items .header-block .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    margin-bottom: 6px;
    margin-right: 6px;
}
.popular .block-items .header-block span {
    color: #fea31b;
    font-weight: 400;
}
.popular .block-items .desc {
    color: #5f5b53;
    line-height: 1.86;
    margin-bottom: 12px;
    font-size: 1.4rem;
    font-weight: 400;
}
.popular .block-items .book {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular .block-items .book span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.popular .block-items .book .btn-book {
    padding: 12px 24px;
    border-radius: 25px;
    background: #171100;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85;
}
.popular .block-items .book .btn-book:hover {
    background: #fea31b;
}
/* feedback */
.feedback {
    background: #2e2100;
}
.feedback-list {
    display: flex;
    overflow: hidden;
}
.feedback .content {
    flex-shrink: 0;
    width: 100%;
    padding: 96px 0;
    display: flex;
    justify-content: space-between;
    /* thử lướt qa */
    /* transform: translateX(-100%);
    transition: all ease .3s;
 */
}
.feedback .user {
    width: 13.6%;
}
.feedback .quote {
    width: 66%;
}
.feedback .user-img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 18px;
}
.feedback .user h4 {
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.42;
    margin-bottom: 4px;
}
.feedback .user .job {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}
.quote .desc {
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53;
    padding-left: 30px;
}
.dots {
    margin-top: 28px;
}
.dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #634700;
}
.at {
    background-color: #ffb900;
}
/* features 1 */
.features {
    padding: 200px 0;
}
.features .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.features .body .images {
    display: flex;
    width: 48.7%;
    gap: 15px;
}
.features .images img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}
.features .images img.down {
    margin-top: 34px;
}
.features .body .content {
    width: 40.2%;
}
.features .heading {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}
.features .desc {
    color: #5f5b53;
    font-weight: 400;
    line-height: 1.75;
    margin: 16px 0;
}
.features .btn.btn-features {
    color: #fff;
    font-style: normal;
    font-weight: 600;
    padding: 11px 37px;
    border-radius: 26px;
    background: #ffb900;
    margin-top: 16px;
}
.features .btn.btn-features:hover {
    opacity: 0.8;
}
/* features 2 */
.features.features-2 {
    padding: 0 0 200px 0;
}
.features .body .content2 {
    width: 48.7%;
}
.features .body .images-2 {
    width: 40.2%;
}
.features .body .images-2 img {
    width: 470px;
    height: 440px;
    border-radius: 20px;
    object-fit: cover;
}
.features .btn.btn-features.ft2 {
    padding: 12px 31px 10px 31px;
}
/* blog */
.blog {
    background: #fffcf4;
    padding: 96px 0;
}
.blog-header {
    width: 448px;
    margin-inline: auto;
    margin-bottom: 55px;
}
.blog-header .content {
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
    margin-bottom: 16px;
}
.blog-header .desc {
    color: #696262;
    line-height: 1.75;
    text-align: center;
}

.blog-content .block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-shrink: 0;
    /* transform: translateX(-100%);
    transition: all ease 0.3s; */
}
.blog-content .block .blog-items {
    width: 31.6%;
    border-radius: 16px;
}
.blog-content .block .blog-items:hover {
    border-radius: 16px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog-items .tag-blog-img img {
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}
.blog-items .content {
    background-color: #fff;
    padding: 20px 20px 28px 20px;
    border-radius: 0 0 16px 16px;
}

.blog-items .content .header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.blog-items .content .date {
    color: #5f5b53;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85;
}
.blog-items .content .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ffb900;
}

.blog-items .content .desc {
    color: #171100;
    font-weight: 600;
    line-height: 1.75;
    margin-top: 25px;
    position: relative;
}
.blog-items .content .desc::before {
    content: "";
    display: block;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
    position: absolute;
    top: -12px;
    left: 0;
}
.blog-items .btn.btn-blog {
    padding: 12px 21px;
    border-radius: 25px;
    background: #171100;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
    margin-top: 12px;
}
.blog-items .btn.btn-blog:hover {
    color: #fff;
    background: #ffb900;
}
.blog-content .dots {
    display: flex;
    justify-content: center;
    margin-top: 38px;
    gap: 5px;
    cursor: pointer;
}
.blocks-blog {
    display: flex;
    overflow: hidden;
}
/* footer */
.footer {
    background: #2e2100;
    padding: 96px 0 28px 0;
}
.footer .list-column {
    display: flex;
    position: relative;
}
.footer .list-column::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #59554b;
    position: absolute;
    bottom: -38px;
}

.footer .column-contact {
    width: 35%;
}
.footer .column-contact .desc {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    padding: 18px 0;
    width: 267px;
}
.footer .column-contact .social a {
    display: inline-block;
    padding: 0 5px;
}
.footer .column-company {
    width: 21.6%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: relative;
}
.footer .column-address::before,
.footer .column-support::before,
.footer .column-company::before {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background: #59554b;
    position: absolute;
    top: 40px;
    left: 0;
}

.footer .column-support a:first-child,
.footer .column-address a:first-child,
.footer .column-company a:first-child {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    display: inline-block;
    margin-bottom: 31px;
}
.footer .column-support a,
.footer .column-address a,
.footer .column-company a {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.footer .column-support {
    width: 21.6%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: relative;
}
.footer .column-address {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: relative;
}
.footer .column-address a {
    text-align: unset;
}
.footer .column-address a span {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85;
    color: #fff;
}
.footer .copy {
    display: block;
    margin-top: 67px;
    margin-inline: auto;
    color: #807d74;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}
